#Data Types and Structures Questions

1.What are data structures, and why are they important?  
Ans.Data structures are ways to store and organize data efficiently; they are important for optimized data access and modification.

2.Explain the difference between mutable and immutable data types with examples?  
Ans.Mutable types like lists can be changed after creation, while immutable types like tuples or strings cannot.
Example: list1[0] = 2 is valid, but str[0] = 'a' is not.

3.What are the main differences between lists and tuples in Python?  
Ans.Lists are mutable and allow changes, while tuples are immutable and fixed once created.

4.Describe how dictionaries store data.  
Ans.Dictionaries store data in key-value pairs, enabling fast lookup using unique keys.

5.Why might you use a set instead of a list in Python?  
Ans.Sets avoid duplicates and offer fast membership testing, useful when order doesn't matter.

6.What is a string in Python, and how is it different from a list?  
Ans.A string is a sequence of characters; unlike a list, it's immutable and stores text.

7.How do tuples ensure data integrity in Python?  
Ans.Tuples ensure data integrity by preventing changes, ideal for constant data.

8.What is a hash table, and how does it relate to dictionaries in Python?  
Ans.A hash table stores key-value pairs using a hash function; Python dictionaries are built on this concept.

9.Can lists contain different data types in Python?   
Ans.Yes, lists can contain different data types, like [1, "two", 3.0].

10.Explain why strings are immutable in Python?  
Ans.Strings are immutable to ensure security, thread safety, and memory efficiency.

11.What advantages do dictionaries offer over lists for certain tasks?  
Ans.Dictionaries offer faster, direct access to data via keys, unlike indexed lists.

12.Describe a scenario where using a tuple would be preferable over a list.  
Ans.Use tuples over lists when data should not change, like coordinates or dates.

13.How do sets handle duplicate values in Python?  
Ans.Sets automatically discard duplicate values, so only unique items are kept.

14.How does the “in” keyword work differently for lists and dictionaries?  
Ans."in" checks value presence in lists, but checks for keys in dictionaries.

15.Can you modify the elements of a tuple? Explain why or why not?  
Ans.
No, tuples can't be modified as they are immutable by design.

16.What is a nested dictionary, and give an example of its use case?  
Ans. A nested dictionary is a dictionary within another; useful for structured data like student records.

17.Describe the time complexity of accessing elements in a dictionary.  
Ans.Accessing a value in a dictionary has average O(1) time complexity.

18.In what situations are lists preferred over dictionaries?  
Ans.Lists are preferred when order matters and you need sequential access.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?  
Ans.Dictionaries are unordered before Python 3.7, affecting order-sensitive operations.

20.Explain the difference between a list and a dictionary in terms of data retrieval.  
Ans.Lists use indices, dictionaries use keys for data access—more efficient when accessing by key.

#Practical Questions

In [1]:
#1.Write a code to create a string with your name and print it.
name = "Suraj Saxena"
print(name)

Suraj Saxena

In [2]:
#2.Write a code to find the length of the string "Hello World".
string ='Hello World'
print(len(string))

11

In [10]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
slice="Python Programming"
print(slice[:3])

Pyt

In [11]:
#4.Write a code to convert the string "hello" to uppercase.
string="hello"
print(string.upper())

HELLO

In [21]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [1]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [3]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [4]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [5]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [6]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [7]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [8]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [9]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [10]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [11]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [12]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [13]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [15]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [16]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [17]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {"name": "John", "age": 25, "city": "New York"}
print(info)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [18]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
info = {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [19]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [20]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del data["age"]
print(data)

{'name': 'Bob', 'city': 'New York'}

In [21]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [22]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [25]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[9, 28, 43, 64, 82]

In [26]:
#28.Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [27]:
#29.Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1}
d2 = {"b": 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [28]:
#30.Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple"]
s = set(lst)
print(s)

{'apple', 'banana'}